* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
  width: 200px;
  padding: 5px 0;
}

a.main-page {
  margin: 0 0 10px 10px;
  color: rgb(150, 171, 248);
}

div.display-word-box {
  display: none;
  margin: 10px 10px 5px 10px;
  font-size: 16px;
}
p.display-word {
  margin-bottom: 10px;
  font-size: 18px;
}
span.display-part-of-speech {
  font-style: italic;
  color: #888;
}

p.empty {
  display: none;
  margin: 10px 0 5px 10px;
  font-size: 15px;
}
